@{
    ViewData["Title"] = "Home";
}

<div class="text-center user-types">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
    <div class="card h-100">
      <img src="~/images/devUser.png" class="card-img-top" alt="All Tickets">
      <div class="card-body">
      <a asp-controller="Admin" asp-action="ViewAdminTicket">
        <input type="submit" value="My Tickets" class="card-btn" />
      </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="~/images/clipboard.png" class="card-img-top" alt="All Tickets" >
      <div class="card-body">
      <a asp-controller="Admin" asp-action="ViewAdminTicket">
        <input type="submit" value="All Tickets" class="card-btn"/>
      </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="~/images/analytics.png" class="card-img-top" alt="Analytics" >
      <div class="card-body">
        <a asp-controller="Reporting" asp-action="Index">
        <input type="submit" value="Analytics" class="card-btn" />
      </a>
      </div>
    </div>
  </div>
</div>
</div>



