@model List<MVCAPP.Models.TicketResponse>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center" style="padding: 0 15%; margin: 2rem 0;">
        <div>
            <h1 style="color: #5D7894; font-family: 'Montserrat', sans-serif; font-weight:400;">Responses</h1>
        </div>
        <div>
            <a class="view-response-btn" asp-area="" asp-controller="Response" asp-action="Create" asp-route-id="@ViewBag.TicketID">New Response</a>
        </div>
    </div>

<div class="row justify-content-center mt-4">
            @if (Model != null && Model.Any())
            {
                @foreach (var response in Model)
                {
                    <div class="card ticket-card">
                        <div class="card-header ticket-card-header">
                            Response Reference @response.ResponseId
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">@response.date</h6>
                            <p class="card-text">@response.ResponseMessage</p>
                        </div>
                    </div>                   
                }

            }
            else
            {
                <h1>No tickets found</h1>
            }

</div>