@model List<MVCAPP.Models.Category>
@{
    ViewData["Title"] = "Categories";
}

<h3 class="category-headings" style="font-weight: 600">Log a Ticket</h3>
<h4 class="category-headings">Please select a category for your query to continue</h4>

<div class="category-grid">   
       <div class="row">
       @if (Model != null && Model.Any())
        {
            foreach(var category in Model){
                <div class="col-md-4 mb-3">
                    <div id="category-cards" class="card">
                        @* <img class="img-fluid" alt="100%x280" src="..."> *@
                            <div id="categories-card-body" class="card-body">
                                <h4 class="category-card-title card-title">@category.CategoryName</h4>
                                <a asp-controller="Ticket" asp-action="Create" asp-route-categoryName="@category.CategoryName" class="category-btn btn">LOG</a>
                            </div>
                    </div>
                </div>
            }
        
        }
        else
        {
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            No data available at this moment!
                        </div>
                    </div>
                </div>
            </div>
        }
        </div> 
</div>


